body {
    background: #dddddd;
    font-family: 'Muli', sans-serif;
}
.header{
    width: 100%;
    padding: 10px 0px;
}
#highscores {
    color: #6a2e94;
    float: left;
    padding-left: 20px;
}
#time {
    color: #6a2e94;
    text-align: right;
    padding-right: 20px;
}
.landingPage {
    text-align: center;
    width: 75%;
    margin: auto;
}
h1 {
    font-weight: 800;
    font-size: 24px;
    margin: 20px 0px 10px 0px;
}
button {
    color: white;
    background-color: #6a2e94;
    margin: 10px;
    padding: 3px 5px;
    border-radius: 10%;
    font-size: 16px;

}